ul li {
  counter-increment: navCounter;
}

ul li a::before {
  color: theme('colors.dAccentPurple');
  content: "< 0" counter(navCounter) ".";
  line-height: 0;
}

ul li a::after {
  color: theme('colors.dAccentPurple');
  content: ">";
  line-height: 0;
}

.nav-show-scroll {
  height: 4.5rem;
  box-shadow: 0 8px 12px -10px theme('colors.dDark');
  // opacity: 100%;
  visibility: visible;
}

.nav-hide {
  // opacity: 0%;
  visibility: hidden;
}

.open-sidenav {
  transform: translateX(0vw) !important;
}

.show-background-blur {
  visibility: visible !important;
}

.hide-background-blur {
  visibility: hidden !important;
}
