ul {
  list-style: none;
  counter-reset: my-awesome-counter;
}

ul li {
  counter-increment: my-awesome-counter;
}

ul li a::before {
  font-family: "sfmono_reg";
  content: "0" counter(my-awesome-counter) ".";
}
