<header class="flex flex-col justify-center h-24">
    <div class="navbar w-full px-12">
        <div class="flex-1 text-2xl p-0 font-mono tracking-[0.2em] cursor-pointer">
            <span class="uppercase">Dansch</span>
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal p-0">
                <li><a class="font-sans">Item</a></li>
                <li><a class="font-sans">Item</a></li>
                <li><a class="font-sans">Item</a></li>
                <li><a class="font-sans">Item</a></li>
                <li><a class="font-sans">Item</a></li>
            </ul>
        </div>
    </div>
</header>
