<header class="fixed top-0 flex flex-col justify-center h-24 text-dDark backdrop-blur-sm">
    <div class="navbar flex flex-row justify-between w-screen px-12">
        <div class="text-2xl p-0 font-mono tracking-[0.2em] cursor-pointer">
            <span class="uppercase">Dansch</span>
        </div>
        <div>
            <ul class="menu menu-horizontal p-0 text-sm font-mono">
                <li><a>About</a></li>
                <li><a>Experience</a></li>
                <li><a>Work</a></li>
                <li><a>Contact</a></li>
            </ul>
            <div class="pl-4">
                <button class="resume-button text-sm font-mono">
                    <a>Resume</a>
                </button>
            </div>
        </div>
    </div>
</header>
