<header appScrollHide class="fixed top-0 flex flex-col justify-center h-24 text-dDark backdrop-blur-sm">
    <div class="navbar lg:flex flex-row justify-between w-screen px-12 hidden">
        <div class="text-2xl p-0 font-mono tracking-[0.2em] cursor-pointer">
            <span class="uppercase">Dan.sch</span>
        </div>
        <div>
            <ul class="menu menu-horizontal p-0 text-sm font-mono">
                <li><a class="!px-1">About</a></li>
                <li><a class="!px-1">Experience</a></li>
                <li><a class="!px-1">Work</a></li>
                <li><a class="!px-1">Contact</a></li>
            </ul>
            <div class="pl-4">
                <button class="styled-button text-sm font-mono">
                    <a>Resume</a>
                </button>
            </div>
        </div>
    </div>
    <div class="lg:hidden">
        <div [ngClass]="status ? 'show-background-blur' : 'hide-background-blur'" class="absolute top-0 right-0 backdrop-blur-md bg-transparent w-[100vw] h-[100vh]">
        </div>
        <aside [ngClass]="status ? 'open-sidenav' : ''" style="width: min(75vw, 400px); transform: translateX(75vw);" class="absolute top-0 right-0 bottom-0 h-[100vh] bg-dBackgroundDark flex flex-row justify-center">
            <div class="flex flex-col justify-center">
                <ul class="menu menu-vertical p-0 text-sm font-mono">
                    <li><a class="!px-1 text-xl">About</a></li>
                    <li><a class="!px-1 text-xl">Experience</a></li>
                    <li><a class="!px-1 text-xl">Work</a></li>
                    <li><a class="!px-1 text-xl">Contact</a></li>
                </ul>
            </div>
        </aside>
        <div class="navbar xs:flex flex-row justify-between w-screen px-12">
            <div class="text-2xl p-0 font-mono tracking-[0.2em] cursor-pointer">
                <span class="uppercase">Dan.sch</span>
            </div>
            <div>
                <button [ngClass]="status ? 'is-active' : ''" (click)="triggerNav()" class="hamburger hamburger--spin !leading-[0px]" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>  
            </div>
        </div>
    </div>
</header>
