<section id="experience" class="flex flex-col justify-center max-w-[700px] mx-auto py-24">
    <p class="numbered-heading font-sans font-semibold !text-dDark">
        Where I’ve Worked
    </p>
    <div class="mt-6 flex">
        <div class="relative !min-w-max">
            <ul class="menu font-mono text-sm">
                <li class="hover:bg-dBackgroundDark highlighter" [class.active]="workToShow==='self'"><a (click)="setWorkToShow('self')">Self-Employment</a></li>
                <li class="hover:bg-dBackgroundDark highlighter" [class.active]="workToShow==='redox'"><a (click)="setWorkToShow('redox')">Redox Interactive</a></li>
                <li class="hover:bg-dBackgroundDark highlighter" [class.active]="workToShow==='jipp'"><a (click)="setWorkToShow('jipp')">JIPP.IT</a></li>
            </ul>
        </div>
        <div class="mt-3 ml-5 min-h-[320px]" [ngSwitch]="workToShow">
          <div *ngSwitchCase="'self'">
            <div class="flex flex-row gap-2">
              <p class="font-sans font-semibold text-xl">Freelancer</p>
              <p class="self-end">(Freischaffender Künstler) ᴬᵀ</p>
            </div>
            <p class="mb-3">March 2020 - Present</p>
            <div class="flex flex-row gap-2 mb-2.5">
              <fa-icon class="text-dAccentOrange self-start" [icon]="faCaretRight" size="xl"></fa-icon>
              <p class="text-lg">Write modern, performant and maintainable code for a project on the Hedera network and a game created from scratch.</p>
            </div>
            <div class="flex flex-row gap-2 mb-2.5">
              <fa-icon class="text-dAccentOrange self-start" [icon]="faCaretRight" size="xl"></fa-icon>
              <p class="text-lg">Work with different languages, platforms and frameworks such as Typescript, Angular, Node.js and Python (Ren'py), but also tools like Figma (Wireframe/Mockup) and the Adobe Creative Cloud (Image/Video).</p>
            </div>
            <div class="flex flex-row gap-2 mb-2.5">
              <fa-icon class="text-dAccentOrange self-start" [icon]="faCaretRight" size="xl"></fa-icon>
              <p class="text-lg">Communicate with multi-disciplinary persons on a daily basis. For example coders, writers, animators and users.</p>
            </div>
          </div>
          <div *ngSwitchCase="'redox'">
            <div class="flex flex-row gap-2">
              <p class="font-sans font-semibold text-xl">Frontend Developer</p>
            </div>
            <p class="mb-3">March 2019 - March 2020</p>
            <div class="flex flex-row gap-2 mb-2.5">
              <fa-icon class="text-dAccentOrange self-start" [icon]="faCaretRight" size="xl"></fa-icon>
              <p class="text-lg">Write modern, performant and maintainable code for a project on the Hedera network and a game created from scratch.</p>
            </div>
            <div class="flex flex-row gap-2 mb-2.5">
              <fa-icon class="text-dAccentOrange self-start" [icon]="faCaretRight" size="xl"></fa-icon>
              <p class="text-lg">Work with different languages, platforms and frameworks such as Typescript, Angular, Node.js and Python (Ren'py), but also tools like Figma (Wireframe/Mockup) and the Adobe creative cloud (Image/Video).</p>
            </div>
            <div class="flex flex-row gap-2 mb-2.5">
              <fa-icon class="text-dAccentOrange self-start" [icon]="faCaretRight" size="xl"></fa-icon>
              <p class="text-lg">Communicate with multi-disciplinary persons on a daily basis. For example coders, writers, animators and users.</p>
            </div>
          </div>
          <div *ngSwitchCase="'jipp'">
            <div class="flex flex-row gap-2">
              <p class="font-sans font-semibold text-xl">DevOps / Software Tester</p>
            </div>
            <p class="mb-3">March 2020 - Present</p>
            <div class="flex flex-row gap-2 mb-2.5">
              <fa-icon class="text-dAccentOrange self-start" [icon]="faCaretRight" size="xl"></fa-icon>
              <p class="text-lg">Write modern, performant and maintainable code for a project on the Hedera network and a game created from scratch.</p>
            </div>
            <div class="flex flex-row gap-2 mb-2.5">
              <fa-icon class="text-dAccentOrange self-start" [icon]="faCaretRight" size="xl"></fa-icon>
              <p class="text-lg">Work with different languages, platforms and frameworks such as Typescript, Angular, Node.js and Python (Ren'py), but also tools like Figma (Wireframe/Mockup) and the Adobe creative cloud (Image/Video).</p>
            </div>
            <div class="flex flex-row gap-2 mb-2.5">
              <fa-icon class="text-dAccentOrange self-start" [icon]="faCaretRight" size="xl"></fa-icon>
              <p class="text-lg">Communicate with multi-disciplinary persons on a daily basis. For example coders, writers, animators and users.</p>
            </div>
          </div>
        </div>
    </div>
</section>
