<section class="flex flex-col justify-center min-h-screen max-w-[1000px] mx-auto">
    <div class="mb-6">
       <p class="text-xl font-mono text-dAccentPurple w-fit">
            Hi, my name is
       </p>
    </div>
    <div class="bg-dBackgroundDark w-full">
        <p class="heading-size font-sans font-semibold">
            Daniel Schaberreiter.
        </p>
        <p class="heading-size font-sans font-semibold leading-none" #tw></p>
    </div>
    <div class="mt-6">
        <p class="text-xl font-sans max-w-lg">
            I’m a devolper building (and for now also designing) websites, webapps and other interesting things. Currently, I’m focused on creating utility (dApps) in a crypto project and maintaining a game in self-employment.
        </p>
    </div>
    <div class="flex flex-row justify-center mt-20">
        <fa-icon class="caret text-dAccentOrange cursor-pointer" [icon]="faCaretDown" size="5x"></fa-icon>
    </div>
</section>
