<div class="modal backdrop-blur-md" [ngClass]="projectToShow !== undefined ? 'modal-open' : ''">
  <div class="modal-box modal-overwrite !p-10">
    <fa-icon class="absolute top-6 right-6 hover:text-dAccentPurple hover:scale-110 text-5xl" (click)="onClose()" [icon]="faClose"></fa-icon>
    <div [ngSwitch]="projectToShow" class="flex flex-col items-center">
      <div *ngSwitchCase="'gifit'" class="flex flex-col items-center max-w-[66.7%]">
        <p class="text-5xl font-sans font-semibold mb-6">Gifit |  GIF Search webApp</p>
        <p class="text-xl font-sans mb-6">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        <img class="drop-shadow w-4/5 mb-4" src="../../assets/images/GifItFavorites.png" alt="Gifit Favorites">
        <img class="drop-shadow w-4/5" src="../../assets/images/GifItClip.png" alt="Gifit Clip">
      </div>
      <div *ngSwitchCase="'fattymania'" class="flex flex-col items-center max-w-[66.7%]">
        <p class="text-5xl font-sans font-semibold mb-6">Crypto dApp</p>
        <p class="text-xl font-sans mb-6">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        <img class="drop-shadow w-4/5 mb-4" src="../../assets/images/FattyManiaRarity.png" alt="Fatty Mania Rarity">
        <img class="drop-shadow w-4/5 mb-4" src="../../assets/images/FattyManiaClaim.png" alt="Fatty Mania Claim">
        <img class="drop-shadow w-4/5" src="../../assets/images/FattyManiaMarketPlace.png" alt="Fatty Mania Marketplace">
      </div>
      <div *ngSwitchCase="'vn'" class="flex flex-col items-center max-w-[66.7%]">
        <p class="text-5xl font-sans font-semibold mb-6">Visual Novel Game</p>
        <p class="text-xl font-sans mb-6">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        <img class="drop-shadow w-4/5 mb-4" src="../../assets/images/STSYMain.png" alt="STSY Main">
        <img class="drop-shadow w-4/5 mb-4" src="../../assets/images/STSY2.png" alt="STSY WIP">
        <img class="drop-shadow w-4/5 mb-4" src="../../assets/images/STSY1.png" alt="STSY Rendered">
        <img class="drop-shadow w-4/5" src="../../assets/images/STSY3.png" alt="STSY Options">
      </div>
    </div>
  </div>
</div>