<section id="about" class="flex flex-col justify-center max-w-[900px] mx-auto py-24">
    <p class="numbered-heading font-sans font-semibold !text-dDark">
        About Me
    </p>
    <div class="grid grid-cols-[3fr_2fr] gap-12 mt-6">
        <div>
            <p class="text-xl font-sans max-w-lg mb-3.5">
                Servus! My name is Daniel and I like creating things on the internet. My interest in web development started back during my studies (BSc) when I had to build my first website from scratch — turns out to tinker around on my own taught me a lot about HTML & CSS, but moreover I got to know the possibilities of web! 
            </p>
            <p class="text-xl font-sans max-w-lg mb-3.5">
                As of today I've had the privilege of working at a software development company with agile methods, a game- and web development start-up and in self-employment. My main focus these days is building dApps for a crypto project I'm part of.
            </p>
            <p class="text-xl font-sans max-w-lg mb-3.5">
                Here are a few technologies I've been working with recently:
            </p>
            <ul class="grid grid-cols-2">
                <li>
                    <div class="flex flex-row items-center gap-2">
                        <fa-icon class="text-dAccentOrange" [icon]="faCaretRight" size="xl"></fa-icon>
                        <p class="text-lg">JavaScript (ES6+)</p>
                    </div>
                </li>
                <li>
                    <div class="flex flex-row items-center gap-2">
                        <fa-icon class="text-dAccentOrange" [icon]="faCaretRight" size="xl"></fa-icon>
                        <p class="text-lg">TypeScript</p>
                    </div>
                </li>
                <li>
                    <div class="flex flex-row items-center gap-2">
                        <fa-icon class="text-dAccentOrange" [icon]="faCaretRight" size="xl"></fa-icon>
                        <p class="text-lg">Angular</p>
                    </div>
                </li>
                <li>
                    <div class="flex flex-row items-center gap-2">
                        <fa-icon class="text-dAccentOrange" [icon]="faCaretRight" size="xl"></fa-icon>
                        <p class="text-lg">Node.js</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="max-w-xs">
            <img class="person-image" src="../../assets/images/dan.jpg" alt="me">
        </div>
    </div>
</section>