<section id="about" class="flex flex-col justify-center max-w-[900px] mx-auto py-24">
  <p class="numbered-heading font-sans font-semibold !text-dDark">
    Some Things I've built
  </p>
  <div class="grid grid-cols-8 mt-6">
    <div style="grid-column: 1/6; grid-row: 1/2">
      <img src="../../assets/images/FattyManiaRarity.png" alt="">
    </div>
    <div style="grid-column: 5/-1; grid-row: 1/2; align-self: center;">
        <div class="flex flex-row justify-end">
          Crypto dApp
        </div>
        <div class="bg-dBackgroundDark text-right	p-4">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
        </div>
        <div class="flex flex-row justify-end">
          Angular Node.js TailwindCSS
        </div>
    </div>
  </div>
</section>
