.build-image-left {
    filter: grayscale(50%) drop-shadow(.5rem .5rem 0 theme('colors.dAccentPurple'));

    &:hover {
        filter: grayscale(0) drop-shadow(.5rem .5rem 0 theme('colors.dAccentPurple'));  
        transform: scale(1.02);
    }
}

.build-image-right {
    filter: grayscale(50%) drop-shadow(-.5rem .5rem 0 theme('colors.dAccentPurple'));

    &:hover {
        filter: grayscale(0) drop-shadow(-.5rem .5rem 0 theme('colors.dAccentPurple'));
        transform: scale(1.02);
    }
}

.build-image-container-right {
    grid-column: 4/-1; 
    grid-row: 1/2;
}

.text-container-right {
    grid-column: 5/-1; 
    grid-row: 1/2; 
    align-self: center;
}

.build-image-container-left {
    grid-column: 1/6;
    grid-row: 1/2;
}

.text-container-left {
    grid-column: 1/5;
    grid-row: 1/2; 
    align-self: center;
}