<section id="about" class="flex flex-col justify-center max-w-[900px] mx-auto py-24">
  <p class="numbered-heading font-sans font-semibold !text-dDark">
    Some Things I've built
  </p>
  <div class="grid grid-cols-6">
    <div style="grid-column: 1/4; grid-row: 1/2">
      <img src="../../assets/images/FattyManiaRarity.png" alt="">
    </div>
    <div style="grid-column: 3/-1; grid-row: 1/2; align-self: center;" class="bg-dBackgroundDark">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
    </div>
  </div>
</section>