<section id="contact" class="flex flex-col justify-center max-w-[600px] mx-auto py-24">
    <p class="numbered-heading font-sans font-semibold !text-dDark">
        At Long Last...
    </p>
    <div class="title font-sans font-semibold flex flex-row justify-center mt-6 mb-2.5 text-dAccentPurple">
        Get In Touch
    </div>
    <div class="text-xl text-center">
        I'm currently looking for new opportunities (preferably remote) to improve my skill set, my inbox is always open. Whether you have a question or just want to say hi, I'll try my best to get back to you!
    </div>
    <div class="flex flex-row justify-center">
        <button class="styled-button text-sm font-mono mt-12 w-fit">
            <a href="mailto:daniel.schaberreiter.work@gmail.com">Say Hi!</a>
        </button>
    </div>
</section>
