@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    transition: all 0.20s ease-in;
}

// $global-transition: all 0.25s 

@font-face {
    font-family: "Calibre";
    src: url("./assets/fonts/Calibre-Regular.woff2") format("woff2"),
    url("./assets/fonts/Calibre-Regular.woff") format("woff"),
    url("./assets/fonts/Calibre-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Calibre";
    src: url("./assets/fonts/Calibre-Medium.woff2") format("woff2"),
    url("./assets/fonts/Calibre-Medium.woff") format("woff"),
    url("./assets/fonts/Calibre-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Calibre";
    src: url("./assets/fonts/Calibre-Semibold.woff2") format("woff2"),
    url("./assets/fonts/Calibre-Semibold.woff") format("woff"),
    url("./assets/fonts/Calibre-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "SFMono";
    src: url("./assets/fonts/SFMono-Regular.woff2") format("woff2"),
    url("./assets/fonts/SFMono-Regular.woff") format("woff"),
    url("./assets/fonts/SFMono-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: theme('colors.dBackgroundLight');
    height: 100vh;
    color: theme('colors.dDark');
    counter-reset: counter;
}
  
.numbered-heading {
    font-size: clamp(26px, 5vw, 32px);
    line-height: 1;
    counter-increment: counter;
}

.numbered-heading::before {
    color: theme('colors.dAccentPurple');
    content: "< 0" counter(counter) ".";
    font-size: 20px;
    font-family: theme('fontFamily.mono');
}

.numbered-heading::after {
    color: theme('colors.dAccentPurple');
    content: ">";
    font-size: 20px;
    font-family: theme('fontFamily.mono');
}

.styled-button {
    padding: 0.75rem 1rem;
    border: 1px solid;
    border-radius: 4px;
}

.stop-scroll {
    overflow: hidden;
}
